.button {
    border: 1px solid #10162F;
    width: 142px;
    height:46px;
    padding: 5px 45px 5px 45px;
    border-radius: 10px;
    background-color: #0EBBE1;
    color: #fff;
    cursor: pointer;
}

.input {
    width: 374px;
    border: 1px solid #10162F;
    height: 52.5px;
    font-size: 16px;
    padding: 5px 14px 5px 14px
}

.register {
    color: #0EBBE1;
    cursor: pointer;
}