.makequestbutton {
    background-color: hsl(51, 100%, 54%);
    border: none;
    padding: 12px;
    border-radius: 24px;
    font-family: helvetica, arial, sans-serif;
    font-weight: 600;
    cursor: pointer
}

.makequestbutton:hover {
    background-color: hsl(51, 100%, 65%);;
}

.titulo {
    font-family: helvetica;
}

.perguntar {
    background: #FFD644;
    padding: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    font-weight: 600;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.questtext {
    margin-top: 24px;
    background: #E6E6E6;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    height: 350px;
    width: 652px;
    padding: 12px;
    font-size:16px;
    font-family: helvetica, arial, sans-serif;
}

.materia {
    background: #F5F5F5;
    width: 210px;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 24px;
    padding: 12px;
    font-size: 20px;
}

.titulo {
    border-radius: 24px;
    height: 2rem;
    width: 652px;
    border: 1px solid #000000;
    padding: 12px;
}