.container {
    box-shadow: 0px, 1px, 1px rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #FDFFF4;;
    top: 0px;
    }
    
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    padding: 0.5rem 0;
}

.makequestbutton {
    background-color: #ffdb49;
    border: none;
    border-radius:48px;
    padding: .625rem 1.25rem;
    cursor: pointer;
    border: 1px solid #000;
    font-weight:800;
    font-size:14px;
}

.makequestbutton:hover {
    background-color:#ffd118;
    transition:0.3s
}

.search {
    background-color: #ffffff;
    border-radius:48px;
    padding: .625rem 1.25rem;
    border: none;
    width: 480px;
    border: 1px solid #000
}

.loginButton {
    background-color: #ffffff;
    border: none;
    border-radius:48px;
    padding: .625rem 1.25rem;
    cursor: pointer;
    border: 1px solid #000;
    font-weight:800;
    font-size:14px;
    width: 141px;
}