.container{
    background-color: #FDFFF4;
    height:93vh;
}


.errorText {
    color: #4fb3f6;
    font-weight: 700;
    font-size:56px;
    display: block;
    text-align: center;
    padding: 350px 0px 0px 0px
}

.notFound{
    font-size:21px;
    line-height: 24px;
    display: block;
    font-weight: 600;
    text-align: center;
}

.backTo{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
}